[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.111.0"
uvicorn = {version = ">=0.29.0", extras = ["standard"]}
psutil = ">=5.9.0"
websockets = ">=12.0"
prometheus-client = ">=0.20.0"

[dev-packages]

[requires]
python_version = "3.11"
